h1 {
    margin: 0%;
}

header {
    height: auto;
    width: 100vw;
    background-color: orange;
    display: flex;
    padding: 4px 0px 10px 30px;
    color: rgb(255, 255, 255);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100vw;
}

.keeperTextArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    padding-bottom: 15px;
    width: 550px;
    box-shadow: 2px 1px 30px rgba(0, 0, 0, 0.348);
    border-radius: 12px;
    background-color: white;
}

.keeperTextArea input {
    width: 400px;
    height: 50px;
    margin-top: 1rem;
    padding-left: 7px;
    padding-top: 10px;
    background-color: white;
    border: none;
}

.keeperTextArea textarea {
    width: 400px;
    height: auto;
    resize: none;
    border: 0;
    padding-left: 7px;
    padding-top: 10px;
}

.keeperTextArea input:focus,
textarea:focus {
    outline: none;
    border-bottom: gray 0.5px solid;
}

.keeperTextArea button {
    align-self: flex-end;
    margin-top: 1rem;
    margin-right: 2rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: orange;
    border: none;
    background-color: white;
}

.note {
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    gap: 50px;
    padding: 25px 150px;
}

.noteCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.374);
    color: orange;
    border-radius: 15px;
    padding: 5px 20px;
    width: 250px;
    height: 200px;
}

.noteCard button {
    align-self: flex-end;
    justify-self: flex-end;
    color: orangered;
    border: none;
    background-color: white;
}